// Place all the styles related to the api/Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../config-vars.scss';

.left-sidebar-container {
    height: 100vh;
    background-color: $dark-primary;
    width: 225px;
}

.left-sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.server-name-box {
    height: 50px;
    border-bottom: 2px solid $darker-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.server-name {
    font-weight: bold;
    margin-left: 15px;
}

.channel-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    color: $mid-primary
}

.channel-index li a, .channel-index .add-channel-form-container, .add-channel-button {
    width: 215px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position: relative;
}

.channel-index li a.active {
    color: $lightest-primary;
}


.chat-icon, .add-channel-icon {
    font-size: 20px;
}

.settings-icon-container {
    visibility: hidden;

    i {
        color: $mid-primary;
        font-size: 16px;
    }
}


.channel-index .add-channel-form-container {
    justify-content: flex-start
}

.channel-index li a:hover, .add-channel-form-container:hover, .add-channel-button:hover {
    background-color: rgba($color: #FFFFFF, $alpha: 0.03);
    color: $light-primary;

    .settings-icon-container {
        visibility: visible;
    }
}

.channel-index li a:active {
    color: $lightest-primary;
    background-color: $primary;
}

.channel-index .add-channel-button:active {
    color: $lightest-primary;
}

.settings-icon-container i:hover {
    color: $light-primary;
}

.settings-icon-container i:active {
    color: $lightest-primary;
}

.channel-index .add-channel-button {
    justify-content: flex-start;
    color: rgba($color: $mid-primary, $alpha: 0.5);
}

.user-box {
    margin-top: auto;
    height: 50px;
    background-color: $darke-primary;
}

.channel-index li .chat-icon {
    margin-right: 5px;
}

.hash-icon {
    margin-right: 5px;
    font-size: 20px;
    // font-weight: bold;
}

.add-channel-form-container {

    form {
        display: flex;
        flex-direction: row;
    }

    input {
        background-color: transparent;
        border-bottom: 1px dashed $mid-primary;
    }

}

.add-channel-icon {
    transform: rotateY(180deg);
    margin-right: 5px;
}

.channel-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
