// Place all the styles related to the api/Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../config-vars.scss';

.message {
    margin-left: 50px;
    margin-top: 10px;
}

.message-index {
    width: 100%;
    padding: 10px 20px;
    overflow: scroll;
    box-sizing: border-box;
    color: $light-primary
}

.message-index li {

}

.nick {
    font-weight: bold;
}

.message .message-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline
}

.message .time-sent {
    color: $mid-primary;
    font-size: 12px;
}

.message-body {
    display: block;
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
}

.message .user {

    color: $light-primary;
    position: relative;
    margin-right: 10px;

    .avatar-container {
        margin: 0px;
        position: absolute;
        left: -50px;
        top: -5px;
    }

}

.message.compact-message {
    margin-top: 0px;

    .message-body {
        margin-top: 0px;
    }
}
