// Place all the styles related to the api/ServerMemberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../config-vars.scss';

.server-form-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;
}

*[class*="server-form-container"] {
    position: fixed;
    width: 400px;
    height: 200px;
    top: 200px;
    left: 200px;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    padding: 20px;

    background-color: $lightest-primary;

    h2 {
        color: $light-secondary;
    }

    .pick-server-button-container {

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            background-color: $secondary;
            height: 50px;
            margin: 0px 10px;
            border-radius: 3px;
            width: 180px;
        }

        button:hover {
            background-color: $light-secondary;
        }
    }

    

}