// Place all the styles related to the api/Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../config-vars.scss';

.server-index {

    .server-index-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75px;
        background-color: $darker-primary;
        height: 100vh;
    }

    .server-index-item a, .new-server-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: $primary;
        border-radius: 25px;
        margin-top: 10px;
        transition-property: border-radius;
        transition-duration: 0.1s;
        transition-timing-function: linear;
        position: relative;

        .server-placeholder {
            font-size: 30px;
            color: $secondary;
            text-align: center;
        }
    }


    .server-index-item a::before,
    .new-server-button::before {
        content: "";
        visibility: hidden;
        position: absolute;
        top: 20px;
        left: -12px;
        height: 5px;
        width: 4px;
        background-color: $light-primary;
        z-index: 1;
        border-radius: 0px 3px 3px 0px;
        transition-property: height, top;
        transition-duration: 0.3s;
    }

    .server-index-item a:hover::before, 
    .new-server-button:hover::before {
        visibility: visible;
        top: 15px;
        height: 20px;
    }

    .server-index-item a.active::before {
        visibility: visible;
        top: 5px;
        height: 40px;
    }


    .new-server-button .server-placeholder {
        color: $light-secondary;
    }

    .server-index-item a:hover, .new-server-button:hover {
        border-radius: 15px;

        .server-icon {
            border-radius: 15px;
        }
    }

    .server-index-item a.active {
        border-radius: 15px;

        .server-icon {
            border-radius: 15px;
        }
    }

    .new-server-button:hover {
        background-color: $secondary;
        .server-placeholder {
            color: $lightest-primary;
        }
    }

    .tooltip-text {
        visibility: hidden;
        background-color: $darkest-primary;
        color: $light-primary;
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        position: absolute;
        z-index: 1;
        left: 60px;
        top: 8px;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
    }

    .tooltip-text::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent rgba($color: $darkest-primary, $alpha: 0.7) transparent transparent;
    }

    .server-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transition-property: border-radius;
        transition-duration: 0.1s;
        transition-timing-function: linear;
    }


}