$lightest-primary: white;
$light-primary: lightgray;
$mid-primary: gray;

$primary: #333333;
$dark-primary: #292929;
$darker-primary: #222222;
$darkest-primary: #000000;


// teal:
// $light-secondary: #A2E6C4;
// $secondary: #67BB91;



$light-secondary: #f57373;
$secondary: #bf3f3f;
$dark-secondary: #910f0f;

//orange:
// $light-secondary: #f59173;
// $secondary: #bf5f3f;