// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    color: white
}

a:hover {
    cursor: pointer;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

input:active {
    outline: none;
}


// splash screen css


.splash {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.splash-text {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.splash h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    display: block;
}

.splash ul {
    display: flex;
    flex-direction: row;
}

.full-logo {
    display: flex;
    flex-direction: row;
}


.splash button, .splash li a {
    border: 1px solid lightgray;
    color: lightgray;
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.splash li {
    margin-left: 10px;
}

.splash button:hover, .splash li a:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.splash button:active, .splash li a:active {
    background-color: white;
    color: #333333
}